@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
   }
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
   }
*{
    padding: 0;
    margin: 0;
    font-family: 'Gotham Pro';
}
html, body{
  min-height: 100%;
}
body{
    background-color: #000000;
    position: relative;
    overflow-x: hidden;
}
.header-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    height: 87px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.header-logo {
    width: 202px;
    height: 33px;
    alt: Bazabet;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    z-index: 4;
}
.header-text {
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 50px;
    z-index: 4;
}
.header-text-green {
    color: #00d15d;
}
.header-shadow {
    background-image: url(img/header-shadow.png);
    position: absolute;
    width: 105%;
    height: 200px;
}
.intro-img {
    background: url(img/bg1.jpg);
    background-color: #000000; 
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
    background-size: cover;
    width: 105%;
    height: 1200px;
    z-index: -1;
}
.intro-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
}
.intro-text-title {
    font-size: 118px;
    text-transform: uppercase;
    margin-top: 22px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 4;
}
/*.intro-main-text-2 {
    position: absolute;
    font-size: 158px;
    text-transform: uppercase;
    left: 395px;
    top: 203px;
    background: linear-gradient(to bottom, #00df7a, #00bd34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #00d15d;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}*/
.intro-text-subtitle {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.intro-percent {
    background-image: url(img/percent.png);
    width: 431px;
    height: 121px;
    margin-left: 50px;
    z-index: 4;
}
.intro-text-main-top {
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin-top: 53px;
    margin-left: 50px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.intro-text-main-bottom {
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color:#00d15d;
    margin-top: 2px;
    margin-left: 50px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.intro-button {
    background: linear-gradient(to bottom, #ffe68b, #e8a313);
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color:#242426;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
    width: 415px;
    height: 80px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    margin-top: 47px;
    margin-left: 50px;
    z-index: 4;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation: pulse 1s infinite;
}
.intro-button:hover {
    background: linear-gradient(to bottom, #fff1bf, #ffc74d);
    color:#373738;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-animation-name: transformation;
    animation-name: transformation;
    animation: transformation 0.5s;
}
.intro-player-main {
    background-image: url(img/man.png);
    width: 480px;
    height: 385px;
    position: absolute;
    margin-left: 400px;
    top: 314px; 
    z-index: 3;
}
.intro-players-left {
    background-image: url(img/players-left.png);
    width: 285px;
    height: 134px;
    position: absolute;
    left: 65px;
    top: 440px; 
    z-index: 1;
}
.intro-players-right {
    background-image: url(img/players-right.png);
    width: 297px;
    height: 135px;
    position: absolute;
    left: 1579px;
    top: 427px; 
    z-index: 1;
}
.intro-truck {
    background-image: url(img/truck.png);
    width: 780px;
    height: 482px;
    position: absolute;
    margin-left: 500px;
    top: 204px; 
    z-index: 2;
}
.money-1 {
    background-image: url(img/money-1.png);
    width: 45px;
    height: 42px;
    position: absolute;
    margin-left: 850px;
    top: 320px; 
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
    animation-delay: 1s;
}
.money-2 {
    background-image: url(img/money-1.png);
    width: 45px;
    height: 42px;
    position: absolute;
    margin-left: 950px;
    top: 460px; 
    transform: rotate(180deg);
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
    animation-delay: 2s;
}
.money-3 {
    background-image: url(img/money-1.png);
    width: 45px;
    height: 42px;
    position: absolute;
    margin-left: 1000px;
    top: 560px; 
    transform: rotate(90deg);
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
    animation-delay: 3s;
}
.money-4 {
    background-image: url(img/money-1.png);
    width: 45px;
    height: 42px;
    position: absolute;
    margin-left: 1030px;
    top: 280px; 
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
}
.money-5 {
    background-image: url(img/money-2.png);
    width: 45px;
    height: 35px;
    position: absolute;
    margin-left: 1070px;
    top: 520px;
    transform: rotate(180deg); 
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
    animation-delay: 1s;
}
.money-6 {
    background-image: url(img/money-2.png);
    width: 45px;
    height: 35px;
    position: absolute;
    margin-left: 980px;
    top: 500px; 
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
    animation-delay: 1.5s;
}
.money-7 {
    background-image: url(img/money-2.png);
    width: 45px;
    height: 35px;
    position: absolute;
    margin-left: 870px;
    top: 400px;
    transform: rotate(90deg); 
    z-index: 1;
    -webkit-animation-name: move-up;
    animation-name: move-up;
    animation: move-up 3s infinite;
}
.money-bg-1 {
    background-image: url(img/money-3.png);
    width: 727px;
    height: 276px;
    position: absolute;
    margin-left: 0px;
    top: -300px;
    z-index: 1;
    -webkit-animation-name: move-down;
    animation-name: move-down;
    animation: move-down 5s infinite;
    animation-delay: 1.5s;
}
.money-bg-2 {
    background-image: url(img/money-3.png);
    width: 727px;
    height: 276px;
    position: absolute;
    margin-left: 500px;
    top: -500px;
    z-index: 1;
    -webkit-animation-name: move-down;
    animation-name: move-down;
    animation: move-down 5s infinite;
    animation-delay: 2s;
}
.money-bg-3 {
    background-image: url(img/money-3.png);
    width: 727px;
    height: 276px;
    position: absolute;
    margin-left: 200px;
    top: -300px;
    transform: rotate(180deg); 
    z-index: 1;
    -webkit-animation-name: move-down;
    animation-name: move-down;
    animation: move-down 5s infinite;
    animation-delay: 4s;
}
.intro-text-line {
    background-image: url(img/text-line.png);
    width: 1054px;
    height: 100px;
    position: absolute;
    left: 190px;
    top: 451px;
}
.intro-bg-shadow {
    background-image: url(img/bg-shadow.png);
    width: 1247px;
    height: 614px;
    position: absolute;
    left: 23px;
    top: 29px;
}
.steps-line {
    background-image: url(img/steps-line.png);
    width: 100%;
    height: 150px;
    background-position: center center;
    margin-top: 0px;
}
.steps-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.steps-1 {
    background-image: url(img/step-1.png);
    width: 321px;
    height: 92px;
    margin: 8px;
    margin-left: 50px;
}
.steps-2 {
    background-image: url(img/step-2.png);
    width: 321px;
    height: 92px;
    margin: 8px;
}
.steps-3 {
    background-image: url(img/step-3.png);
    width: 321px;
    height: 92px;
    margin: 8px;
    margin-right: 50px;
}
.arrow-1 {
    background-image: url(img/arrow.png);
    width: 35px;
    height: 32px;
    margin: 8px;
    opacity: 0;
    -webkit-animation-name: arrows-animation;
    animation-name: arrows-animation;
    animation: arrows-animation 1.5s infinite;
}
.arrow-2 {
    background-image: url(img/arrow.png);
    width: 35px;
    height: 32px;
    margin: 8px;
    opacity: 0;
    -webkit-animation-name: arrows-animation;
    animation-name: arrows-animation;
    animation: arrows-animation 1.5s infinite;
    animation-delay: 0.5s;
}
.features-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    width: 100%;
    height: 159px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.features-container div {
    font-weight: 500;
    background-color: #262626;
    width: 216px;
    height: 75px;
    border-radius: 10px;
    margin: 2.5px;
    font-size: 13px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.features-container div img{
    margin: 7px;
}
.features-container div p{
    margin: 7px;
}
.features-container div:first-child {
    margin-left: 0px;
}
.features-container div:last-child {
    margin-right: 0px;
}
.payments-container {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
}
.payment-1 {
    margin-left: 75px;
}
.payment-6 {
    margin-right: 75px;
}
.copyright {
    margin: 0 auto;
    padding: 0;
    max-width: 1100px;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #444444;
    font-size: 11px;
    text-transform: uppercase;
    white-space: nowrap;
}
.intro-img-mobile {
    display: none;
}
  @-webkit-keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes transformation {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    to {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  }
  
  @keyframes transformation {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }

    to {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }
  }
  @-webkit-keyframes move-up {
    0% {
    }
    100% {
    top: -200px;
    transform: rotate(180deg);
    }
  }
  
  @keyframes move-up {
    0% {
    }
    100% {
    top: -200px;
    transform: rotate(180deg);
    }
  }
  @-webkit-keyframes move-down {
    0% {
    }
    40%{
    opacity: 1;
    }
    100% {
    top: 400px;
    opacity: 0;
    }
  }
  
  @keyframes move-down {
    0% {
    }
    40%{
    opacity: 1;
    }
    100% {
    top: 400px;
    opacity: 0;
    }
  }
  @-webkit-keyframes arrows-animation {
    0% {
    }
    50%{
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
  }
  
  @keyframes arrows-animation {
    0% {
    }
    50%{
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
  }
  @media screen and (max-width: 1220px) {
    .steps-container {
        justify-content: space-around;
    }
    .steps-container div {
        background-size: 100%;
        width: 289px;
        height: 83px;
        margin: 5px;
        align-self: center;
        align-content: center;
    }
    .arrow-1 {
        display: none;
    }
    .arrow-2 {
        display: none;
    }
    .intro-players-right {
        display: none;
    }
    .features-container {
        height: 180px;
        justify-content: center;
    }
    .features-container div {
        margin-left: 80px;
    }
}
@media screen and (max-width: 920px) {
    .header-text {
        display: none;
    }
    .money-1 {
        display: none;
    }
    .money-2 {
        display: none;
    }
    .money-3 {
        display: none;
    }
    .money-4 {
        display: none;
    }
    .money-5 {
        display: none;
    }
    .money-6 {
        display: none;
    }
    .money-7 {
        display: none;
    }
    .money-bg-2 {
        margin-left: 190px;
    }
    .money-bg-3 {
        margin-left: 100px;
    }
    .steps-container {
        height: 270px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .steps-container div {
        background-size: 100%;
        width: 242px;
        height: 69px;
    }
    .steps-line {
        background-image: url(img/steps-line-1200.png);
        margin-top: 0px;
        background-position: center center;
        display: block;
        max-width: 100%;
        height: 270px;
    }
    .features-container {
        flex-direction: column;
        height: 366px;
        justify-content: start;
        padding-top: 24px;
    }
    .features-container div {
        width: 272px;
        height: 65px;
        margin: 2.5px;
        justify-content: left;
        align-items: center;
    }
    .features-container div img{
        margin-left: 55px;
    }
    .features-container div:first-child {
        margin-left: 0;
        align-self: center;
    }
    .features-container div:last-child {
        margin-right: 0px;
    }
    .payments-container {
        justify-content: center;
    }
    .payments-container img {
        margin-left: 20px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 500px) {
    .intro-img {
        display: none;
    }
    .intro-img-mobile {
        background-image: url(img/bg1-mobile.jpg); 
        background-color: black;
        background-position: top -68px center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        position: absolute;
        max-width: 500px;
        width: 100%;
        height: 538px;
        margin-top: 0;
        z-index: -1;
    }
    .header-container {
        height: 36px;
        align-items: center;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
    .header-logo {
        background-size: 100%;
        width: 122px;
        height: 19px;
        margin: 0 auto;
        margin-top: auto;
    }
    .header-shadow {
        width: 100%;
    }
    .intro-container {
        height: 492px;
        align-items: center;
    }
    .intro-text-title {
        margin: 0 auto;
        margin-top: 2px;
        font-size: 61px;
    }
    .intro-text-subtitle {
        margin: 0 auto;
        font-size: 19px;
        margin-top: 5px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .intro-percent {
        background-size: 100%;
        width: 225px;
        height: 64px;
        margin: 0 auto;
    }
    .intro-text-main-top {
        margin: 0 auto;
        margin-top: 195px;
        font-size: 15px;
    }
    .intro-text-main-bottom {
        margin: 0 auto;
        margin-top: 2px;
        font-size: 18px;
    }
    .intro-button {
        margin: 0 auto;
        border-radius: 10px;
        font-size: 20px;
        width: 260px;
        height: 54px;
        margin-top: 15px;
    }
    .intro-player-main {
        display: none;
    }
    .intro-players-left {
        display: none;
    }
    .intro-truck {
        display: none;
    }
    .intro-text-line {
        display: none;
    }
    .intro-bg-shadow {
        display: none;
    }
    .money-bg-1 {
        background-size: 100%;
        width: 100%;
        height: 190px;
        margin: 0 auto;
    }
    .money-bg-2 {
        background-size: 100%;
        background-position: top -100px;
        width: 100%;
        height: 190px;
        margin: 0 auto;
    }
    .money-bg-3 {
        background-size: 100%;
        width: 100%;
        height: 190px;
        margin: 0 auto;
    }
    .steps-line {
        background-image: url(img/steps-line-mobile.png);
        margin-top: 0px;
        background-position: center center;
        display: block;
        max-width: 100%;
        height: 270px;
    }
    .payments-container {
        height: 180px;
        justify-content: center;
    }
    .payment-2 {
        order: 1;
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-3 {
        order: 2;
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-1 {
        order: 3;
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-4 {
        order: 4;
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-5 {
        order: 5;
        margin-right: 10px;
        margin-left: 10px;
    }
    .payment-6 {
        order: 6;
        margin-right: 10px;
        margin-left: 10px;
    }
    .copyright {
        white-space: pre-line;
        text-align: center;
    }
}